spring:
  application:
    name: event-generator

  datasource:
    url: jdbc:postgresql://localhost:5432/events_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

server:
  port: 8081

event:
  generation:
    enabled: true
    interval: 10000

logging:
  level:
    org.example.eventgenerator: INFO
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG